<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="cache-control" content="no-cache" />
		<base href="<%= base_url %>"/>
		<link rel="shortcut icon" href="./sprite/favicon.ico"/>
		<title><%= title %>Synesthesia Symphony (v0.06) - Shipping Soon</title>
		
		<!-- Polyfills -->
		<script src="./js/midi/inc/shim/Base64.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/inc/shim/base64binary.js?t=116" type="text/javascript" defer></script>
		
		<!-- Jasmid -->
		<script src="./js/midi/inc/jasmid/stream.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/inc/jasmid/midifile.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/inc/jasmid/replayer.js?t=116" type="text/javascript" defer></script>
		
		<!-- MidiJS -->
		<script src="./js/midi/widget/Loader.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/color/SpaceW3.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/AudioDetect.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/LoadPlugin.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/Plugin.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/Player.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/window/Queue.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/window/Event.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/window/DOMLoader.XMLHttp.js?t=116" type="text/javascript" defer></script>
		<script src="./js/midi/musictheory/Synesthesia.js?t=116" type="text/javascript" defer></script>
		
		<!-- jQuery -->
		<script src="./js/jquery/jquery.min.js?t=116" type="text/javascript" defer></script>
		<script src="./js/jquery-ui/jquery-ui.min.js?t=116" type="text/javascript" defer></script>
		<script src="./js/jquery/jquery.hotkeys.js?t=116" type="text/javascript" defer></script>
		<script src="./js/jquery/jquery.key-status.js?t=116" type="text/javascript" defer></script>
		<link href="./css/jquery-ui/jquery-ui.min.css?t=116" rel="stylesheet" type="text/css" />
		
		<!-- Font-Awesome -->
		<link href="./css/font-awesome/font-awesome.css?t=116" rel="stylesheet" type="text/css" />
		
		<!-- Context-Menu -->
		<link href="./css/context-menu/jquery.contextMenu.css?t=116" rel="stylesheet" type="text/css" />
		<script src="./js/context-menu/jquery.ui.position.js?t=116" type="text/javascript" defer></script>
		<script src="./js/context-menu/jquery.contextMenu.js?t=116" type="text/javascript" defer></script>
		<script src="./js/css-color-parser/csscolorparser.js?t=116" type="text/javascript" defer></script>
			
		<!-- Synesthesia Symphony -->
		<link href="./css/synesthesia-symphony.css?t=116" rel="stylesheet" type="text/css" />
		
		<script src="./js/synesthesia-symphony/canvas/canvas.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/canvas/canvas.line.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/canvas/canvas.circle.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/canvas/canvas.square.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/canvas/canvas.text.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/vector/vector.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/vector/vector.math.js?t=116" type="text/javascript" defer></script>		
		
		<script src="./js/synesthesia-symphony/stg/stg.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.math.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.timer.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.cmath.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.color.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/shape/shape.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/shape/shape.circle.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/shape/shape.point.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/shape/shape.square.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/item/item.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/item/item.lifeup.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/system/system.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/system/system.config.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/system/system.menu.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/system/system.main.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/resource/resource.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/resource/resource.init.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/resource/resource.songs.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/fsm/fsm.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/session/session.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/session/session.cache.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/session/session.init.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/session/session.load.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/session/session.save.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/stg/stg.bullet.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.path.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/pattern/pattern.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/pattern/pattern.circular.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/pattern/pattern.create.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/stg/stg.note.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/stg/stg.audio.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/stg/stg.stage.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/character/character.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/character/character.enemy.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/character/character.player.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/fsm/fsm.state.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.config.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.pause.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.stage.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.editor.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.music.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.menu.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.intro.js?t=116" type="text/javascript" defer></script>
		<script src="./js/synesthesia-symphony/fsm/fsm.load.js?t=116" type="text/javascript" defer></script>
		
		<script src="./js/synesthesia-symphony/synesthesia-symphony.js?t=116" type="text/javascript" defer></script>
	</head>
	<body>
		<div id="editor">
			<section class="opensans light-weight">
				<h3>1) Login</h3>
				
				<input type="text" id="user_name" placeholder="User"/>
				<input type="password" id="password" placeholder="Password"/>
			</section>

			<section class="opensans light-weight">
				<h3>2) Select Stage</h3>
				
				<select id="stage_id" name="stage_id">
					<option selected>Select Stage</option>
					<option value="1">Stage 01</option>
					<option value="2">Stage 02</option>
				</select>
			</section>

			<section class="opensans light-weight">
				<h3>3) Select MIDI</h3>

				<select id="midi_id" name="midi_id">
					<option selected>Select MIDI</option>
					<option value="1">Intro</option>
					<option value="2">Mountain</option>
				</select>
			</section>

			<section class="opensans light-weight">
				<h3>4) Save Playlist</h3>

				<input type="button" class="" value="Save Playlist" />
			</section>


			<section class="opensans light-weight">
				<h3>5) Order Playlist</h3>

				<ul id="sortable" class="sortable">
					<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Intro.midi | Stage 01</li>
					<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Mountain.midi | Stage 01</li>
				</ul>
			</section>
		</div>
		<div class="synesthesia-symphony box menu-1">
			<canvas id="screen-layer">Your browser does not support HTML5 Canvas.</canvas>
			<canvas id="buffer-layer">Your browser does not support HTML5 Canvas.</canvas>
			<canvas id="pause-layer">Your browser does not support HTML5 Canvas.</canvas>
			<img id="loading_gif-low" class="hide loading" src="./sprite/loading_gif-low.gif" alt="" />
		</div>
		<section class="centered opensans">
			<h1 class="light-weight">Synesthesia Symphony HTML5 Canvas</h1>
			<p class="how-to">
				<b>Z</b> - Fire<br/>
				<b>Shift</b> - Focused movement<br/>
				<b>&#8592; &#8594; &#8593; &#8595;</b> - Move<br/>
			</p>
			<p>
				<a href="https://www.shippingsoon.com/">Copyright 2015 - Shipping Soon</a>
			</p>
		</section>
		<div class="resources">
			<img id="menu-low" width="800" height="600" src="sprite/bg/menu-low.jpg" alt=""/>
			<img id="staff-low" width="800" height="600" src="sprite/bg/staff-low.jpg" alt=""/>
			<img id="config-low" width="800" height="600" src="sprite/bg/config-low.jpg" alt=""/>
			<img id="canvas-low" width="480" height="560" src="sprite/bg/canvas-low.png" alt=""/>
			<img id="stage_0-low" width="800" height="600" src="sprite/bg/stage_0-low.png" alt=""/>
			
		</div>
	</body>
</html>
